<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.breath_of_the_bull">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="Breath of the Bull">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewUser" />
        <activity
            android:name=".MainActivity"
            android:label="Breath of the Bull"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Quote" />
        <activity android:name=".Meditate" />
        <activity android:name=".MedFeedback" />
    </application>

</manifest>